@tailwind base;
@tailwind components;
@tailwind utilities; /* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: fit-content;
}

h3 {
  @apply font-semibold text-lg mt-2 mb-5;
}

.lbl {
  @apply p-2 text-sm;
}

.lbl-error {
  @apply text-red-500 mx-auto p-2 text-sm;
}

.text-box {
  @apply border border-slate-300 rounded p-2 text-sm;
}

.text-box-error {
  @apply border border-red-300 rounded p-2 text-sm;
}

.btn-row {
  @apply flex flex-row gap-x-2;
}

.add-btn {
  @apply p-2 bg-blue-500 text-white border rounded border-slate-300 hover:bg-blue-600 text-sm disabled:bg-slate-300;
}

.edit-btn {
  @apply p-2 bg-green-500 text-white border rounded border-slate-300 hover:bg-green-600 text-sm disabled:bg-slate-300;
}

.remove-btn {
  @apply p-2 bg-red-500 text-white border rounded border-slate-300 hover:bg-red-600 text-sm disabled:bg-slate-300;
}

.cancel-btn {
  @apply p-2 bg-slate-500 text-white border rounded border-slate-300 hover:bg-slate-600 text-sm disabled:bg-slate-300;
}

.three-col-form {
  @apply grid grid-cols-3;
}

.error-div {
  @apply text-red-500 mx-auto p-2 text-sm;
}
