<div *ngIf="!movies">
  <img src="loading.gif" />
</div>

<div *ngIf="movies && movies.length === 0">
  <p>No movies to display</p>
</div>

<div *ngIf="movies && movies.length > 0" class="movies-list">
  <div *ngFor="let movie of movies; let i = index" class="movie-card">
    <img
      *ngIf="!movie.poster"
      src="default.jpg"
      width="220"
      height="326"
      priority
    />
    <img *ngIf="movie.poster" [src]="movie.poster" width="220" height="326" />
    <div class="movie-title">{{ movie.title }}</div>

    <div class="btn-row mx-auto">
      <button
        class="edit-btn"
        (click)="addMovie()"
        [routerLink]="['/movies/edit/', i]"
      >
        Edit
      </button>

      <button class="remove-btn" (click)="removeMovie(movie)">Remove</button>
    </div>
  </div>
</div>
