<form [formGroup]="formGroup" (ngSubmit)="saveChanges()">
  <div class="three-col-form w-2/5">
    <label class="lbl">Title</label>
    <input
      class="text-box mb-2"
      type="text"
      formControlName="title"
      [class.text-box-error]="(title.dirty || title.touched) && title.invalid"
    />
    <div class="error-div">
      @if ((title.dirty || title.touched) && title.invalid){ @if
      (title.errors?.['required']) {
      <span>Required</span>
      } @else if (title.errors?.['minlength']) {
      <span>Min length of 2 expected</span>
      } @else if (title.errors?.['firstLatterShouldBeUppercase']) {
      <span>First letter should be uppercase</span>
      }}
    </div>

    <div></div>
    <div class="btn-row">
      <button class="add-btn" [disabled]="formGroup.invalid">
        Save Changes
      </button>
      <button class="cancel-btn" routerLink="/genres">Cancel</button>
    </div>
    <label class="lbl-error">{{ formError }}</label>
  </div>
</form>
